.map-container  {
  /*width: 100%;
  height: 100%;*/
  margin: 0 auto;
  max-width: 900px;
  max-height: 600px;
}

#world-map-gdp {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 600px;
}

#physician-map {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 600px;
}


/* GENERAL */
body {
    font-family: "purista-web-n4","purista-web", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

/*CUSTOMISED JVECTORMAP CSS*/
image {
  width: -15px;
}

/*Info window*/
.jvectormap-tip {
    position: absolute;
    display: inline;
    border: solid 1px #F4F4F4;
    border-radius: 3px;
    background: #fff;
    color: #53564A;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 0 10px 15px;
    margin: -15px;
    max-width: 250px;
    /*overflow: hidden;*/
}

.jvectormap-tip a {
  text-decoration: none;
  color: #21ACDE;
}

div.info-window {
  max-width: 250px;
  position: relative;
  background: pink;
}

/*div.info-window:before{
  content: '';
  background: orange;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  position: absolute;
  top: -20px;
  left: -20px;
}*/

/*.info-window:hover + .jvectormap-tip {
  display: block !important;
}*/

/*.jvectormap-tip {
  display: block !important;
}*/

.is-hover {
  display: block !important;
}

circle {
  fill: url('icon-map-marker.svg');
}
