.map-container  {
  /*width: 100%;
  height: 100%;*/
  margin: 0 auto;
  max-width: 900px;
  max-height: 600px;
}

#world-map-gdp {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 600px;
}

#physician-map {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 600px;
}


/* GENERAL */
body {
    font-family: "purista-web-n4","purista-web", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

/*CUSTOMISED JVECTORMAP CSS*/
image {
  /*width: -15px;*/
  height: 22px;
  display: relative;
  top: -30px;
}

#customTip {
  display: none;
  padding: 10px 15px 25px;
  line-height: 1.438em;
  /*line-height: 23px;*/
  max-width: 250px;
}
#customTip button {
  float: right;
  color: #ccc;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  border: none;
  /*margin-top: 5px;*/
  padding-right: 0;
}

#customTip button:hover {
  cursor: pointer;
  color: #bbb;
}

#customTip span {
  font-weight: 400;
}


/*Info window*/
.jvectormap-tip {
    border: solid 1px #F4F4F4;
    border-radius: 3px;
    background: #fff;
    color: #53564A;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    /*padding: 0 15px 15px;*/
    margin: -10px;
    /*overflow: hidden;*/
}

.jvectormap-tip a {
  text-decoration: none;
  color: #21ACDE;
}


/*div.info-window {
  max-width: 250px;
  position: relative;
  background: pink;
}*/

/*div.info-window:before{
  content: '';
  background: orange;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  position: absolute;
  top: -20px;
  left: -20px;
}*/

/*.info-window:hover + .jvectormap-tip {
  display: block !important;
}*/

/*.jvectormap-tip {
  display: block !important;
}*/

/*.is-hover {
  display: block !important;
}*/
