/********************
  GENERAL
*********************/

body {
  font-family: "purista-web-n4","purista-web", Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

h1 {
  text-align: center;
}


h3 {
  margin-bottom: 0;
}

p {
  font-size: .8rem;
  color: #53564A;
}


li {
  font-size: .6rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: #21ACDE;
  display: inline-block;
}



/********************
  MAP NAV BAR
*********************/


.map-nav {
  margin: 0 auto 20px;
  max-width: 912px;
}

.map-nav_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.map-nav_tab {
  flex-grow: 1;
  display:inline-block;
  text-align: center;
  background: #f0f0f1;
  padding: 12px 20px;
  border: 1px solid #ccc;
  margin-right: -5px;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .map-nav_tab {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .map-nav_tab {
    font-size: 10px;
  }
}

@media (max-width: 475px) {
  .map-nav_list {
    flex-wrap: wrap;
  }
  li.map-nav_tab {
    width: 100%;
    border-bottom: none;
  }
  li.map-nav_tab:last-of-type {
    border-bottom: 1px solid #ccc;
  }
}

.map-nav_tab:focus {
  outline: none;
}

.map-nav_tab.active {
  background: white;
  /*padding-top: 10px;*/
  border-bottom: none;
}


/**************************
  MAPS
***************************/

.maps-container  {
  /*width: 100%;
  height: 100%;*/
  margin: 0 auto;
  max-width: 900px;
  max-height: 475px;

}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 475px;
  padding-bottom: 40px;

}

.map-container {
  margin-bottom: 40px;
}

.map-container .title, .map-container p.sub-title {
  text-align: center;
  font-weight: normal;
}

.map-container .title {
  margin-top: 40px;
  margin-bottom: 5px;
}
.map-container p.sub-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.hide-map {
  visibility: hidden;
  left: -9999em;
}

.hide-header {
  display: none;
}

.fade-in {
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}


/*****************************
  CUSTOMISED JVECTORMAP-TIP CSS
******************************/

.jvectormap-tip {
    border: solid 1px #F4F4F4;
    border-radius: 3px;
    background: #fff;
    color: #53564A;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 0 15px 15px;
    margin: -10px;
    /*overflow: hidden;*/
}

.jvectormap-tip a {
  text-decoration: none;
  color: #21ACDE;
}


/***************************
  CUSTOM TIP INFO WINDOW
****************************/


.custom-tip {
  display: none;
  position: absolute;
  padding: 10px 15px 25px;
  line-height: 23px;
  width: 250px;
}

@media screen and (max-width: 475px) {
  .custom-tip {
    transform: translateX(-45%);
    width: 70%;
    top: 68%;
    left: 50%;
  }
}

@media screen and (min-width: 476) and (max-width: 767px) {
  .custom-tip {
    transform: translateX(-45%);
    width: 50%;
    top: 50%;
    left: 50%;
  }
}

/*@media screen and (min-width: 769px) {
  .custom-tip {
    transform: translateX(-45%);
    width: 30%;
    top: 50%;
    left: 50%;
  }
}*/

.custom-tip button {
  float: right;
  color: #bbb;
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  border: none;
  padding-right: 0;
}

.custom-tip button:hover {
  cursor: pointer;
  color: #53564A;
}

.custom-tip span {
  font-weight: 400;
}


/************************
  MARKER ANIMATION
*************************/

@keyframes svg_pulse {
  0% {
    stroke-width: 15;
    stroke-opacity: .9;
  }
  30% {
    stroke-opacity: .1;
  }
  60% {
    stroke-width: 0.2;
    stroke-opacity: 1;
  }
}

.pulse {
  animation: svg_pulse 2s ease;
  animation-iteration-count: infinite;
}

.pulse:hover, .pulse:clicked {
  animation-play-state: paused;
  r: 8;
}
